<h2><%=t(:re_receive_confirm)%></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email,t(:email) %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit t(:send_corfirm) %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>