<!DOCTYPE html>
<html>
<head>
  <title>Micro forum</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
   <div id="brand">
     <div id="logo"><%=t(:logo)%></div>
     <div id="topnav">
       <%=render :partial=>'share/nav' %>
     </div>
   </div>
   <div id="content1">
     <%=render :partial=>'share/notice'%>
     <%= yield %>
   </div>
   <div id="footer"><hr/><%=render :partial=>'share/foot'%></div>
</div>
</body>
</html>
